nav{
    width: 100%;
    height: 60px;
    background-color: #344051;
    position: fixed;
    z-index: 5;
}

.logo{
    font-family: "Arial", sans-serif;
    line-height: 60px;
    font-size: 28px;
    color: #fff;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    color: #fff;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    margin-right: 40px;
    line-height: 60px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation: menuComing 0.2s ease forwards;
    -o-animation: menuComing 0.2s ease forwards;
    animation: menuComing 0.2s ease forwards;
}
.menu li a{
    transition: all 0.5s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: #fff;    
}
.menu li a:hover{
    color: #f29417;
}
.menu li a:active{
    transform: scale(1.5);
}
.white-btn:visited{
    color: white;
}

main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
    
}
.title_container{
    color: #2c384a;
    float: left;
    text-align: center;
    width: 100%;

    opacity: 0;
    -webkit-animation: titleComing 1s ease forwards;
    -o-animation: titleComing 1s ease forwards;
    animation: titleComing 1s ease forwards;
    -webkit-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.title_container h1{
    font-size: 72px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    color: #79818d;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}
.title_container input{
    margin: 50px 14px 0px 14px;
    height: 40px;
    color: #79818d;
    border: 2px solid #79818d;
    border-radius: 5px;
    background: none;
    text-align: center;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    padding: 0px 16px;
    transition: all 0.2s;
    transform: scale(1);
   
}
.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.3);
}
@media (max-width:991px){
    .title_container, .title_container h4, .title_container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title_container input{
        border: 2px solid white;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
}

.about {
    width: 100%;
    height: 100%;
    background-color: #fcfdfd;
    
}
.header{
    padding-top: 107px;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #263244;
}
.underline{
    display: block;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    
}
.about-foto{
    display: block;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}

.about p{
    margin-top: 27px;
    text-align: center;
    font-family: "Calibri", sans-serif;
    font-size: 20px; 
    color: #3f495a;
    opacity: 0;
    -webkit-animation: aboutTextcoming 2s ease forwards;
    -o-animation: aboutTextcoming 2s ease forwards;
    animation: aboutTextcoming 2s ease forwards;
}

.about input{
    display: block;
    background: none;
    line-height 35px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 25px;
    color: #7b7c88;
    margin: 60px auto 40px auto;
    padding-left: 35px;
    padding-right: 15px;
    background: url(../img/icon.png) 5% 50%/auto 70% no-repeat;
    border: 2px solid;
    border-radius: 5px;
    transform: scale(1);
}
.about input:hover{
    background-color: aqua;
}
.about input:active{
    transform: scale(1.3);
}

.skills{
    
    width: 100%;
    height: 520px;
    background: url(../img/bg-skills.jpg) center/auto no-repeat;
}
.skills-ul{
    
    margin-top: 80px;
     
}


.skills-ul li{
    width: 25%;
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 14px;
    color: #626a77;
    float: left;
    opacity: 0;
    -webkit-animation: skillsComing 1.2s ease forwards;
    -o-animation: skillsComing 1.2s ease forwards;
    animation: skillsComing 1.2s ease forwards;
   -webkit-animation-delay: 0.2s;
   -o-animation-delay: 0.2s;
   animation-delay: 0.2s;
  
}
.skills-ul li h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #cf7600;
} 

.examples{
    width: 100%;
    height: 130%;

}
.examples p{
    font-family: "Calibri", sans-serif;
}

.pText{
    text-align: center;
    margin-top: 40px;
    color: #3f495a;
    font-size: 20px;
}
.workplace{
    
    display: block;
    margin: 40px auto 0px auto;
    height: 590px;
}

.client{
    margin-top: 40px;
    color: #384354;   
}

.client h3{
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    margin-bottom: 16px;
    font-weight: bold;
    
}
.project_title{
    margin-top: 40px;
    color: #384354;
    
}
.project_title h3{
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
    
}
.web-site{
    
    margin-top: 30px;
    color: #384354;
    
}
.web-site h3{
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    margin-bottom: 16px;
    font-weight: bold;
}
.examples button{
    margin-top: 20px;
    border-radius: 5px;
    background-color: #63b5ae;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    transform: scale(1);
}
.examples button:hover{
    background: aqua;
}
.examples button:active{
    transform: scale(1.3);
}

.price{
    width: 975px;
    box-shadow: 5px 5px 3px grey;
    height: 90%;     
}
.price h2{
    margin-top: 80px;
    text-align: center;
    color: #1c2534;
    font-size: 25px;
    font-family: "Franklin Gothic Medium", sans-serif; 
    font-weight: bold;
}
.price h3{
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 18px;
    color: #384354;
    font-weight: bold;
    margin-top: 60px;
}
.selector{
    width: 660px;
    height: 45px;
    background-color: #eeeeee;
    color: #737373;
    font-family: "Franklin Gothic Medium", sans-serif;
}
.price img{
    display: block;
    margin-top: 40px;
    width: 660px;
}
.price p{
    display: block;
    margin-top: 25px;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 14px;
    color: #384354;
}
.price button{
    
    margin-top: 20px;
    border-radius: 5px;
    background-color: #63b5ae;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
    transform: scale(1);
}
.statistics{
   height: 520px;
   width: 100%;   
   background: url(../img/stat-bg.jpg) no-repeat;
    background-attachment: fixed;
   
}

.stat-ul{
    
    margin-top: 80px;
   
    
}
.stat-ul li{
    
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 14px;
    color: #384354;
 
      
}
.stat-ul li h2{
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.comments{
    height: 595px;
    width: 100%;
}
.fotka{
    display: block;
    margin: 50px auto 0px auto;
}
.comment{
    margin-top: 20px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #384354;
    font-family: "Franklin Gothic Medium", sans-serif;
}
.tochki{
    float: left;
    margin-top: 50px;
    padding-left: 925px;   
}
.tochki li{
    float: left;
    margin-right: 15px;
}
.contacts{
    width: 100%;
    height: 810px;
    background: url(../img/bg-contacts.jpg) no-repeat;
}
.header-contacts{
    padding-top: 107px;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.some-text{
    margin-top: 33px;
    text-align: center;
    color: #fff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 16px;
}
.contacts-ul{
    height: 140px;
    margin-top: 45px;
    padding-left: 670px;
}

.contacts-ul li{
    float: left;

    text-align: center;
    margin-right: 70px;
}
.contacts p{
    margin-top: 20px;
    font-family: "Franklin Gothic Medium", sans-serif;
    color: #fff;
  
}
.send-message{
   color: #fff;
   text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 18px;  
}
.form-msg form{
    text-align: center;
    margin-top: 40px;
    
}
.form-msg input{
    width: 355px;
    height: 35px;
    background-color: #d3d6dc;
}
.form-msg input.button:hover{
    background: aqua;
}
.form-msg input.button:active{
    transform: scale(1.3);
}
.form-msg textarea{
    width: 713px;
    height: 100px;
    background-color: #d3d6dc;
}
.form-msg input.button{
    background: rgba(0, 0, 0, 0);
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 145px;
    height: 45px;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", sans-serif;
    color: #fff;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes menuComing{
    from{
        margin-top: -80px;
       opacity: 0;
    }
    to{
       margin-top: 0px;
        opacity: 1;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.2s;
}
.menu li:nth-child(3){
    animation-delay: 0.4s;
}
.menu li:nth-child(4){
    animation-delay: 0.6s;
}
.menu li:nth-child(5){
    animation-delay: 0.8s;
}
.menu li:nth-child(6){
    animation-delay: 1.0s;
}

@keyframes titleComing{
    from{
        margin-left: -500px;
       opacity: 0;
    }
    to{
       margin-left: 0px;
        opacity: 1;
    }
}
@keyframes aboutTextcoming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes skillsComing{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.skills-ul li:nth-child(2){
    animation-delay: 0.4s;
}
.skills-ul li:nth-child(3){
    animation-delay: 0.8s;
}
.skills-ul li:nth-child(4){
    animation-delay: 1.2s;
}

